<section id="add_description">
  <%= form_for(store) do |f| %>
  <%= render 'shared/hint_messages', object: store %></br>
  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <%= f.label :name%>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <%= f.label :description %>
        <%= f.text_area :description, {:class => "form-control", :rows => "5"}%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h5>Select Market</h5>
      <div class="form-group input-group">
        <input type="text" class="form-control" id="market_query">
        <span class="input-group-btn">
          <div id="market_search_button" class="btn btn-default">
            <span class="glyphicon glyphicon-search"></span>
          </div>
        </span>
      </div>
      <div id="search_results"></div>
      <hr>
      <div class="form-group">
      <div class="panel panel-default">
        <div class="panel-body">
          <div id="selected_results"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
</section>
<section>
  <div class="row">
    <div class="col-md-6">
      <%= link_to "Back", current_user,  {class: "btn btn-warning col-md-12"} %>
    </div>
    <div class="col-md-6">
      <a id="store_new_next_step" class="btn btn-primary col-md-12">Create</a>
    </div>
  </div></br>
</section>

<section id = "add_store_image">
  <div class="row">
    <div class="col-md-12">
      <%= form_for(StoreImage.new, html: { multipart: true, class: "form dropzone", id: "store_image_upload"}) do |f|  %>
      <%= f.hidden_field :store_id, :id => "store_id"%>
      <div class="form-group">
        <div class="fallback">
          <%= f.file_field :image %><br>
        </div>
      </div>
      <% end %></br>

      <div class="row">
        <div class="col-md-12">
          <%= link_to "Finish UpLoad", current_user,  {class: "btn btn-success col-md-12", id: "finish_upload"} %>
        </div>
      </div>
    </div>
  </div>
</section>
<script>

$(document).ready(function(){
  // disable auto discover
  Dropzone.autoDiscover = false;
  // grap our upload form by its id
  $("#store_image_upload").dropzone({
    // restrict image size to a maximum 1MB
    clickable: true,
    maxFiles: 5,
    parallelUploads: 10,
    maxFilesize: 5,
    // changed the passed param to one accepted by
    // our rails app
    paramName: "store_image[image]",
    // show remove links on each image upload
    addRemoveLinks: false
  });
});

$("#store_new_next_step").on('click',function() {
  var valuesToSubmit = $("#new_store").serialize();
  var market_ids = "";
  for (i = 0; i < $('.selected_tag').length; i++) {
    market_ids += $('.selected_tag').eq(i).attr('id') + ",";
  }
  var formdata = valuesToSubmit+"&market_ids="+market_ids;
  $.ajax({
    url: "/stores",
    dataType: "json",
    type: "POST",
    data: formdata,
    success: function(data, success) {
      $("#store_new_next_step").addClass('disabled')
      $("#new_store").addClass('disabled')
      $("#new_store input").prop("disabled", true);
      $('#add_description *').click(false);
      document.getElementById("store_id").value = data['store_id'];
      $('#finish_upload').removeClass('disabled');
      jQuery('#add_store_image').css({ opacity: 1});
    },
    error: function(data, failure) {
      alert("Error Happened, Please Chenck Your Input");
    }

  });
});


  $('#finish_upload').addClass('disabled');

  $("#market_search_button").click(function() {
    var query = $("#market_query").val();
    $.ajax({
      url: "/stores/new/markets",
      dataType: "json",
      type: "GET",
      data: {query:query},
      success: function(data, success) {
        document.getElementById("search_results").innerHTML = ""
        var arr = [];
        for (i = 0; i < $('.selected_tag').length; i++) {
          arr.push(Number($('.selected_tag').eq(i).attr('id')))
        }

        for (i = 0; i < data['markets'].length; i++) {
          if(!arr.includes(Number(data['markets'][i]['id'])))
          document.getElementById("search_results").innerHTML += ("<div class='btn btn-primary market_tag' name='market_tag' id='"+data['markets'][i]['id']+"'>" + data['markets'][i]['name']+"</div>");
        }
      },
      error: function(data, failure) {
        alert("Something Wrong Happen, Please try it later");
      }
    });
  });

  $(document).on("click", '.market_tag', function(event) {
    document.getElementById("selected_results").innerHTML += ("<div class='btn btn-success selected_tag' name='selected_market' id='"+ $(this).attr('id') +"'>"+$(this).html()+"</div>");
    $(this).remove();
  });

  $(document).on("click", '.selected_tag', function(event) {
    document.getElementById("search_results").innerHTML += ("<div class='btn btn-primary market_tag' name='market_tag' id='"+$(this).attr('id')+"'>" + $(this).html()+"</div>");
    $(this).remove();
  });
</script>
