<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @store.description %>
</p>

<p>
  <strong>Open time:</strong>
  <%= @store.open_time %>
</p>

<p>
  <strong>Close time:</strong>
  <%= @store.close_time %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
