<div class="row well">
<h1 class="text-center">Change Password</h1>
<%= form_for user, :url => url_for(:controller => 'users', :action => 'update_password') do |f|%>
<%= render 'shared/hint_messages', object: user %></br>
<div class="form-group">
  <div class="field">
    <%= f.label :old_password %>
    <%= f.password_field :old_password, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
</div>

<div class="form-group">
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
</div>

<div class="actions">
  <%= f.submit "Reset Password", class: "btn btn-danger col-sm-12" %>
</div>
<% end %>
</div>
