<div class="row">
<div class="col-sm-12 panel-custom-md">
  <%= render 'shared/empty_messages', locals: { objects: @objects = @user.requests, class: @class = "Request For Market" } %>
  <% if @user.requests.where(:status => 0).count +  @user.requests.where(:status => 1).count > 0 %>
  <h1 class="text-center">Pending Application</h1>
  <table class="table table-striped table-hover">
    <thead class="thead-inverse text-center">
      <tr>
        <th>Status</th>
        <th>Store</th>
        <th>Owner</th>
        <th>Description</th>
        <th colspan="3"></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @user.requests.each do |request| %>
      <% if request.status == 0 or request.status == 1%>
        <tr>
          <td class="col-md-2">
            <% if request.status == 0 %>
            <div class="label label-warning"><%= translate_status_to_market_owner(request.status) %><div>
            <% else %>
            <div class="label label-default"><%= translate_status_to_market_owner(request.status) %><div>
            <% end %>
          </td>
          <td class="col-md-2"><%= link_to request.store.name[0..10], request.store%></td>
          <td class="col-md-2"><%= link_to request.store.vendor.user.name[0..10], request.store.vendor.user%></td>
          <td class="col-md-4"><%= request.store.description[0..20] %></td>
          <td class="col-md-1"><%= link_to 'Accept', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td class="col-md-1"><%= link_to 'Refuse', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
</div>
