<div class="row well">
<div class="col-sm-12 panel-custom-md">
  <%= render 'shared/empty_messages', locals: { objects: @objects = @user.requests.where(:status => [1,2]), class: @class = "Unresponsed Request" } %>
  <% if @user.requests.where(:status => [1,2]).count > 0 %>
  <h1 class="text-center">Responsed Application</h1>
  <table class="table table-striped table-hover">
    <thead class="thead-inverse text-center">
      <tr>
        <th>Status</th>
        <th>Store</th>
        <th>Owner</th>
        <th>Time</th>
      </tr>
    </thead>

    <tbody>
      <% @user.requests.where(:status => [1,2]).order('updated_at DESC').each do |request| %>
      <% if request.status == 1 or request.status == 2%>
        <tr>
          <% if request.status == 1 %>
          <td class="col-md-2"><div class="label label-success"><%= translate_status_to_market_owner(request.status) %><div></td>
          <% elsif  request.status == 2%>
          <td class="col-md-2"><div class="label label-danger"><%= translate_status_to_market_owner(request.status) %><div></td>
          <% end %>
          <td class="col-md-2"><%= link_to request.store.name[0..10], request.store%></td>
          <td class="col-md-2"><%= link_to request.store.vendor.user.name[0..10], request.store.vendor.user%></td>
          <td class="col-md-4"><%= request.updated_at %></th>
        </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <% end %>
</div>
</div>
