<div class="row">
  <h1 class="text-center">Title Place Holder </h1>
    <div class="col-md-4 col-md-offset-1">
      Enter the day and time you want to go grocery shopping and a list will be generated of which markets and vendors you can find all your needs
    </div>
  </div>
<div class="row">

<div class="col-sm-6 panel-custom-md">
  <h3 class="text-center">Your Shopping List</h2>
    <% @items.each do |group| %>
      <% if !group.nil? %>
        <% if group.any? %>
      <h4 class="text-center"><%=group.first.product.group%></h4>
      <table class="table table-striped table-hover">
        <thead class="thead-inverse text-center">
          <tr>
            <th>Item</th>
            <th>Date Added</th>
            <td></th>
            <th colspan="3"></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% group.each do |item| %>
            <tr>
              <td class="col-md-5 text-left">
                <%=item.product.name%>
              </td>
              <td>
                <%=item.created_at.to_s[0..10]%>
              </td>
              <td>
                <%= link_to 'Delete', item, method: :delete, class: "btn btn-danger col-sm-12", data: { toggle: 'confirmationDialog', confirm: t('messages.Are you sure delete this Product. After delete the Product, Data can not be retore'), ok: t('buttons.Sure'), cancel: t('buttons.cancel')}%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
      <% end %>
    <% end %>
</div>


<div class="col-sm-1"></div>
<div class="col-sm-5 panel-custom-md">
  <h3 class="text-center">Your Shopping Schedule</h2>
  <% @user.store_reviews.each do |review| %>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <strong><%= review.store.name%></strong> <span class="text-muted"><%= review.created_at%></span>
        </div>
        <div class="panel-body">
          <%= review.comment%>
          <hr>
          <span>
            <div class="row">
              <% (0..4).each do |i|%>
              <% if i >= review.rating %>
              <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
              <% else %>
              <button type="button" class="btn btn-warning btn-xs" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
              <% end %>
              <% end %>
              <div class="text-right"><%= link_to 'Delete', review, method: :delete, class: "btn btn-danger", data: { confirm: t('messages.Are you sure delete this review'), ok: t('buttons.Sure'), cancel: t('buttons.cancel')}%></div>
          </div>
          </span>
        </div><!-- /panel-body -->
      </div><!-- /panel panel-default -->
    </div><!-- /col-sm-5 -->
    <div class="col-sm-12">

    </div>
  </div>
  <% end %>
</div>
</div>
