<div class="row ">
  	  <center><h1>Shopping Schedule Generator</h1></center>
  		<%= form_tag(shopping_list_path, method: "get") do %>
  		  <div class="col-md-12 text-center">
          <%= label_tag(:date, "I want to go shopping on") %>
          <%= select_tag(:date, options_for_select(["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"]), {:include_blank => true})%>
          <%= label_tag(:hour1, "sometime between") %>
    			<%= select_tag(:hour1, options_for_select(["10AM", "11AM", "12PM", "1PM", "2PM", "3PM", "4PM", "5PM", "6PM", "7PM"]), {:include_blank => true})%>
          <%= label_tag(:hour2, "and") %>
          <%= select_tag(:hour2, options_for_select(["11AM", "12PM", "1PM", "2PM", "3PM", "4PM", "5PM", "6PM", "7PM", "8PM"]), {:include_blank => true})%>
    			<%= submit_tag(name="Submit") %>
  		  </div>
  		<% end %>
</div>

<div class="row">
<div class="col-sm-5 panel-custom-md">
  <h3 class="text-center">Your Shopping List</h2>
    <% @items.each do |a| %>
      <% if !a.nil? %>
        <% if a.any? %>
      <h4 class="text-center"><%=a.first.product.group%></h4>
      <table class="table table-striped table-hover">
        <thead class="thead-inverse text-center">
          <tr>
            <th>Item</th>
            <th>Date Added</th>
            <th>Delete Item</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% a.each do |item| %>
            <tr id="<%= item.id%>">
              <td class="col-md-5 text-left">
                <%=item.product.name %>
              </td>
              <td>
                <%=item.created_at.to_s[0..10]%>
              </td>
              <td>
                <%= link_to ' ', item, method: :delete, class: "btn btn-danger col-sm-12"%>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>
      <% end %>
    <% end %>
</div>

<div class="col-sm-1"></div>
<div class="col-sm-6 panel-custom-md">
  <h3 class="text-center">Your Shopping Schedule</h2>
      <% if @hour2 < @hour1%>
        The time range you chose does not make sense. Please try again.
      <% else %>
        <% if @schedule.empty?%>
          Sorry! But there no stores at the time with the products in your shopping list
        <% else %>
          <% @schedule.each do |mkt, stores|%>
              <b>----------------------------------------------------------<br></b>
              <b>Market:</b>&nbsp&nbsp&nbsp&nbsp<%=mkt.name%><br>
              <b>Address: </b><%=mkt.address%>, <br>
              &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
              <%=mkt.city%>, <%=mkt.state%> <%=mkt.zipcode%><br>
              <b>Hours:</b>&nbsp&nbsp&nbsp&nbsp&nbsp<%=get_time_from_timestamp(mkt.open_time)%> - <%=get_time_from_timestamp(mkt.close_time)%> <br>
              <b>-----------------------------------------------------------</b><br>
            <% stores.each do |store, products| %>
              <b><%= store.name%>:</b><br>
                <% products.each do |prod| %>
                  <%=prod.name %><br>
                  <%if products[-1].eql? prod%>
                    <br>
                  <% end %>
                <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

</div>
</div>

<script>
$(".delShoppingList").click(function() {
  var btn = $(this);
  $.ajax({
    url: "/shopping_lists/" +  btn.attr('value'),
    dataType: "json",
    type: "DELETE",
    success: function(data, success) {
      alert("You have delete successfully");
    },
    error: function(data, failure) {
      alert("Something Wrong Happen, Please try it later");
    }
  });
});
</script>
