<div class="row">
  <div class="col-sm-3 no-padding">
    <div class="nav-side-menu text-center">
      <img src="<%= gravatar_for @user,size: 150 %>" alt="profile" class="img-thumbnail">
      <p>
        <strong>Name:</strong>
        <%= @user.name %>
      </p>
      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
      <p>
        <strong>Zipcode:</strong>
        <%= @user.zipcode %>
      </p>

      <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

      <div class="menu-list text-left">
        <ul id="menu-content" class="menu-content collapse out">
          <a href="<%= "/users/" + @user.id.to_s %>">
            <li id="dashboard">

              <i class="fa fa-dashboard fa-lg"></i> Dashboard

            </li>
          </a>

          <a href="<%= my_requests_path %>">
            <li id="requests">

              <i class="fa fa-users fa-lg"></i><i class="glyphicon glyphicon-envelope"></i> Requests

            </li>
          </a>

          <a href="<%= edit_user_path %>">
            <li id="edit_information">

              <i class="fa fa-dashboard fa-lg"></i><i class="glyphicon glyphicon-wrench"></i> Reset Account

            </li>
          </a>

          <a href="<%= change_password_path %>">
            <li id="change_password">

              <i class="fa fa-dashboard fa-lg"></i><i class="glyphicon glyphicon-cog"></i> Change Password

            </li>
          </a>


          <a href="<%= shopping_list_path %>">
            <li id="shopping_list">
              <i class="fa fa-user fa-lg"></i><i class="glyphicon glyphicon-shopping-cart"></i> Shopping List
            </li>
          </a>

          <a href="<%= my_reviews_path %>">
            <li id="reviews">

              <i class="fa fa-users fa-lg"></i><i class="glyphicon glyphicon-comment"></i> My Reviews

            </li>
          </a>
          <a href="<%= my_markets_path %>">
            <li id="market">

              <i class="fa fa-user fa-lg"></i><i class="glyphicon glyphicon glyphicon-grain"></i> My Market

            </li>
          </a>

          <% if !isVendor%>
          <a href="<%= new_store_path %>">
            <li id="bevendor">

              <i class="fa fa-users fa-lg"></i><i class="glyphicon glyphicon-leaf"></i> Be Vendor

            </li>
          </a>
          <% else %>
          <a href="<%= "/stores/" + @user.vendor.store.id.to_s %>">
            <li id="bevendor">

              <i class="fa fa-users fa-lg"></i><i class="glyphicon glyphicon-leaf"></i> Go to Store

            </li>
          </a>
          <% end %>
          <a href="<%= root_path %>">
            <li>

              <i class="fa fa-dashboard fa-lg"></i><i class="glyphicon glyphicon-home"></i> Home Page

            </li>
          </a>

        </ul>
      </div>
    </div>
  </div>

  <div class="col-sm-9 no-padding">
    <div id="profile-board">
      <% if board == "edit" %>
      <%= render  partial: "form_edit", locals: { user: user = @user} %>
      <% elsif board == "dashboard"%>
      <%= render  partial: "dashboard", locals: { user: @user} %>
      <% elsif board == "shopping_list"%>
      <%= render  partial: "shopping_list", locals: { user: @user} %>
      <% elsif board == "markets"%>
      <%= render  partial: "markets", locals: { user: @user} %>
      <% elsif board == "reviews"%>
      <%= render  partial: "reviews", locals: { user: @user} %>
      <% elsif board == "requests"%>
      <%= render  partial: "requests", locals: { user: @user} %>
      <% elsif board == "change_password"%>
      <%= render  partial: "change_password", locals: { user: @user} %>
      <% elsif board == "bevendor"%>
      ??
      <!-- <%= render  partial: "stores/form_new", locals: { user: user = @user} %> -->
      <% end %>

    </div>
  </div>
</div>

<script>

</script>
