<% @products.each do |product| %>
<div class="col-md-4">
  <div class="thumbnail check-product" id="<%= product.id %>" data-toggle="modal" data-target="#checkProductPanel">
    <% if product.product_images.all.length == 0 %>
    <div class="thumbnail-image-board">
      <div class="text-center thumbnail-image thumbnail-image-square-bg" style="background:url(<%= product_background[product.group]%>);  background-size: 100% 100%,cover;
        background-repeat: no-repeat;
        background-position: center;"><div class="hover"><div class="text-overflow-block"><%= product.description[0..200] %></div></div></div></div>
        <% else %>
        <div class="thumbnail-image-board">
          <div class="text-center thumbnail-image thumbnail-image-square-bg" style="background: url(<%= product.product_images.all.first.image.url(:medium)%>);  background-size: 100% 100%,cover;
            background-repeat: no-repeat;
            background-position: center; "><div class="hover  text-overflow-block"><%= product.description[0..200] %></div></div></div>
            <% end %>


            <div class="caption">
              <div class="card-title text-overflow"><%= product.name%></div>
              <div class="col-md-12">

                <div class="tags text-overflow">
                  <span class="glyphicon-sm glyphicon glyphicon-piggy-bank"></span>
                  <span class="label label-tag label-success"><%= product.price%></span>
                  <% if product.is_special == true%>
                  <span class="label label-tag label-danger">Special</span>
                  <% end %>
                </div>

                <% if split_tags(product.tag).length > 0 %>
                <div class="tags text-overflow">
                  <span class="glyphicon-sm glyphicon glyphicon-tag"></span>
                  <% split_tags(product.tag)[0..2].each do |tag| %>
                  <a class="label label-tag label-success" style="background: <%=tag_color[tag]%>"><%= tag %></a>
                  <% end %>
                </div>
                <% end %>
                <br>
                <div class="row">
                  <div class=" text-muted text-overflow">
                    <div class="glyphicon glyphicon-eye-open"></div> <%=product.popularity%> VIEWS
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <% end %>
        <script>

        </script>
