<header class="row">
  <div class="col-md-12">
    <div id="search">
      <h1>&nbsp;&nbsp;Find Fresh Produce<br>&nbsp;&nbsp;at Nearby Farmers Markets<h1>
       <%= render 'shared/search' %>
    </div>
    <div class="text-center">
      <div class="form-horizontal center container" id="search_area"></div>
    </div>
    </div>
    <!-- <div class="col-md-1"></div>
    <blink class="col-md-4" style="background: rgba(54,69,79,0.7); margin-top:260px; padding:10px;">
      <div class="col-md-3"><%= image_tag("testimonial.JPG", height: '135', width: '90') %></div>
      <div class="col-md-9" style="padding-right: 75px; padding-left: 40px;">To anyone who loves farmers markets.. <br>Use this app!! <br>I never knew where to find what I needed but now I do with Harvest<br><overflow: visible>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp- Beraa Ibas</overflow></div>
    </blink>
    <div class="col-md-1"></div> -->
</header>

<section>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"><i class="glyphicon glyphicon-fire"></i>Popular Goods</h2>
        <hr class="section-hr">
      </div>
    </div>
  <div class="row">
        <%= render 'shared/products', locals: { products: @products = Product.all.order("popularity DESC")[0..5]} %>
        <%= render 'shared/product_modal' %>
  </div>
</section>

<section>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"><i class="glyphicon glyphicon-apple"></i>Popular Vendors</h2>
        <hr class="section-hr">
      </div>
    </div>
  <div class="row">
      <%= render 'shared/stores', locals: { stores: @stores = Store.all[0..7] } %>
  </div>
</section>

<section>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading"><i class="glyphicon glyphicon-home"></i>Popular Farmers Markets</h2>
        <hr class="section-hr">
      </div>
  </div>
  <div class="row">
        <%= render 'shared/markets', locals: { markets: @markets = dst_SortMarkets(Market.all)[0..1] } %>
  </div>
</section>
<script>
$(document).ready(function(){
var backgrounds = new Array(
    "linear-gradient(rgba(118, 163, 96, 0.2),rgba(0, 0, 0, 0.3), rgba(118, 163, 96, 0.2)),url('assets/images/search_background_image1.jpg')"
  , "linear-gradient(rgba(118, 163, 96, 0.2),rgba(0, 0, 0, 0.3), rgba(118, 163, 96, 0.2)),url('assets/images/search_background_image2.jpg')"
  , "linear-gradient(rgba(118, 163, 96, 0.2),rgba(0, 0, 0, 0.3), rgba(118, 163, 96, 0.2)),url('assets/images/search_background_image3.jpg')"
  , "linear-gradient(rgba(118, 163, 96, 0.2),rgba(0, 0, 0, 0.3), rgba(118, 163, 96, 0.2)),url('assets/images/search_background_image4.jpg')"
  , "linear-gradient(rgba(118, 163, 96, 0.2),rgba(0, 0, 0, 0.3), rgba(118, 163, 96, 0.2)),url('assets/images/search_background_image5.jpg')"
  , "linear-gradient(rgba(118, 163, 96, 0.2),rgba(0, 0, 0, 0.3), rgba(118, 163, 96, 0.2)),url('assets/images/search_background_image6.jpg')"
  , "linear-gradient(rgba(118, 163, 96, 0.2),rgba(0, 0, 0, 0.3), rgba(118, 163, 96, 0.2)),url('assets/images/search_background_image7.jpg')"
  , "linear-gradient(rgba(118, 163, 96, 0.2),rgba(0, 0, 0, 0.3), rgba(118, 163, 96, 0.2)),url('assets/images/search_background_image8.jpeg')"
  , "linear-gradient(rgba(118, 163, 96, 0.2),rgba(0, 0, 0, 0.3), rgba(118, 163, 96, 0.2)),url('assets/images/search_background_image9.jpg')"
);
item = backgrounds[Math.floor(Math.random()*backgrounds.length)];
var header = $('header')
header.css('background-image', item);
});
</script>

<%# <!-- <%= render 'layouts/market_cards' %>
