<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<style>
#body{
  background: #edf2ee;
}
header{
  background: #5cb85c;
  height: 300px;
  margin-bottom: 20px;
}
.content{
  width: 100%;
  background-color: white;
}
.row{
  padding: 0px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.section{
  padding-left: 20px;
  padding-right: 20px;
  height: 300px;
}
.indent{
  padding-left: 20px;
}

header{

}

header h1{
  padding: 20px;
  color: white;
}
.img-window{
  width: 100%;
}
</style>
<div id="body">
  <div class="container">
    <div class="content row">
        <header class="text-center">
          <h1>Harvest Weekly Special!</h1>
          <h3><%= link_to "Go to Home Page", root_url%><h3>
        </header>
        <% count = 0 %>
        <% @stores.each do |store, products|%>
        <% count = count + 1%>
        <% if count % 2 == 0 %>
        <div class="row" style="background:#d7ddd8;">
        <% else %>
        <div class="row">
        <% end %>
        <div class="section">
            <div class="col-sm-6">
              <h3><%= link_to store.name, store%></h3>
              <% store.markets[0..2].each do |market|%>
              <h4><%= link_to market.name, market%></h4>
              <h5 class="indent"><%= market.address%>, <%= market.city %>, <%= market.state%>, <%= market.zipcode %></h5>
              <h5 class="indent"><%= get_day_from_timestamp(market.open_time) %><%= get_time_from_timestamp(market.open_time) %> - <%= get_time_from_timestamp(market.close_time) %></h5>
              <% end %>
            </div>
            <div class="col-sm-6 text-right">
              <% products.each do |product|%>
              <div class="col-sm-6">
                <% if product.product_images.length > 0 %>
                <img class="img-window" src="url(<%= product.product_images.all.first.image.url(:medium)%>)">
                <% else %>
                <img class="img-window" src="url(<%= product_background[product.group]%>)">
                <% end %>
              </div>
              <% end %>
            </div>
          </div>
          </div>
          <% end %>
        </div>
      <div>
      </div>
