<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
<p id="notice"><%= notice %></p>

<h1>Search Results</h1>

<% if @results.blank? %>
 <h4>There are no results containing the term <%= params[:q] %>.</h4>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <% @products.each do |product| %>
    <div class="col-md-4">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://placeholdit.co//i/318x180?&bg=DCDCDC" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title"><%= product.name %></h4>
          <p class="card-text"><%= product.description %></p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>



<table>
  <% @stores.each do |store| %>
    <tr>
      <td><%= store.name %></td>
      <td><%= store.description %></td>
    </tr>
  <% end %>
</table>
