<%= form_for(market) do |f| %>
  <%= render 'shared/hint_messages', object: market %></br>

  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <%= f.label :name%>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <%= f.label :state%>
        <%= f.select :state, options_for_select(select_state_data, :selected => select_state_data[0]),{}, {class: "form-control"}%>
      </div>
      <div class="col-md-4">
        <%= f.label :city%>
        <%= f.select :city, options_for_select(select_city_data, :selected => select_city_data[0]),{}, {:class => "form-control"}%>
      </div>
      <div class="col-md-4">
        <%= f.label :zipcode%>
        <%= f.text_field :zipcode, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <%= f.label :'Open Day'%>
        <%= select_tag :open_day, options_for_select(day_list, :selected => day_list[0]),{:class => "form-control", :id => "market_openday"} %>
      </div>
      <div class="col-md-4">
        <%= f.label :'Open Time'%>
        <div class='input-group date timepicker'>
            <%= f.text_field :open_time, class: "form-control",id: "market_openhour" %>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
            </span>
        </div>
      </div>
      <div class="col-md-4">
        <%= f.label :'Close Time'%>
        <div class='input-group date timepicker'>
          <%= f.text_field :close_time, class: "form-control",id: "market_openmin" %>
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-time"></span>
            </span>
        </div>
      </div>
  </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <%= f.label :description %>
        <%= f.text_area :description, {:class => "form-control", :rows => "5"}%>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <%= link_to "Back", markets_path,  {style: "color:#FFFFFF", class: "btn btn-primary col-md-12"} %>
    </div>
    <div class="col-md-6 actions">
      <%= f.submit "Submit", {:class => "btn btn-primary col-md-12"}%>
    </div>
  </div>
<% end %>
