<%= form_for(market) do |f| %>
  <%= render 'shared/hint_messages', object: market %></br>

  <div class="form-group">
    <div class="row">
      <div class="col-md-4">
        <%= f.label :state%>
        <%= f.select :state, options_for_select(select_state_data, :selected => select_state_data[0]),{}, {class: "form-control"}%>
      </div>
      <div class="col-md-4">
        <%= f.label :city%>
        <%= f.select :city, options_for_select(select_city_data, :selected => select_city_data[0]),{}, {:class => "form-control"}%>
      </div>
      <div class="col-md-4">
        <%= f.label :zipcode%>
        <%= f.text_field :zipcode, class: "form-control" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-3">
        <%= f.label :'Open Day'%>
        <%= f.select :state, options_for_select(select_state_data, :selected => select_state_data[0]),{}, {:class => "form-control"}%>
      </div>
      <div class="col-md-3">
        <%= f.label :'Open Time'%>
        <%= f.select :state, options_for_select(select_state_data, :selected => select_state_data[0]),{}, {:class => "form-control"}%>
      </div>
      <div class="col-md-3">
        <%= f.label :'Close Day'%>
        <%= f.select :state, options_for_select(select_state_data, :selected => select_state_data[0]),{}, {:class => "form-control"}%>
      </div>
      <div class="col-md-3">
        <%= f.label :'Close Time'%>
        <%= f.select :state, options_for_select(select_state_data, :selected => select_state_data[0]),{}, {:class => "form-control"}%>
      </div>
  </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <%= f.label :description %>
        <%= f.text_area :description, {:class => "form-control", :rows => "5"}%>
      </div>
    </div>
  </div>

  <input id="input-24" name="input24[]" type="file" multiple class="file-loading">
  <script>
  $(document).on('ready', function() {
      $("#input-24").fileinput({
          initialPreview: [
              'http://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/FullMoon2010.jpg/631px-FullMoon2010.jpg',
              'http://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Earth_Eastern_Hemisphere.jpg/600px-Earth_Eastern_Hemisphere.jpg'
          ],
          initialPreviewAsData: true,
          initialPreviewConfig: [
              {caption: "Moon.jpg", size: 930321, width: "120px", key: 1},
              {caption: "Earth.jpg", size: 1218822, width: "120px", key: 2}
          ],
          deleteUrl: "/site/file-delete",
          overwriteInitial: false,
          maxFileSize: 100,
          initialCaption: "The Moon and the Earth"
      });
  });
  </script>

  <div class="row">
    <div class="col-md-6">
      <%= link_to "Back", markets_path,  {style: "color:#FFFFFF", class: "btn btn-primary col-md-12"} %>
    </div>
    <div class="col-md-6 actions">
      <%= f.submit "Submit", {:class => "btn btn-primary col-md-12"}%>
    </div>
  </div>
<% end %>
