<div class="wrapper">
  <div class="container">
    <section id = "showcase" class="row">
      <div class="col-md-12">
        <header id="header">
          <div id="Carousel" class="center carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#Carousel" data-slide-to="0" class="active"></li>
              <li data-target="#Carousel" data-slide-to="1"></li>
              <li data-target="#Carousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for Slides -->
            <div class="carousel-inner">
              <div class="item active">
                <img src="http://placehold.it/1200x400/20BFA9/ffffff&text=This is Third example">
              </div>
              <div class="item">
                <img src="http://placehold.it/1200x400/20BFA9/ffffff&text=This is Third example">

              </div>
              <div class="item">
                <img src="http://placehold.it/1200x400/20BFA9/ffffff&text=This is Third example">
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#Carousel" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#Carousel" data-slide="next">
                <span class="icon-next"></span>
              </a>
            </div>
          </div><!--slider-->

        </header><!--/#HEADER-->
      </div>
    </section>

    <section id = "information" class="row">
      <div class="col-sm-12 panel panel-default">
          <div class="col-sm-8">
            <h2><%= @market.name %></h2>
            <table class="table">
              <tbody>
                <tr>
                  <td class = "col-sm-2"><span class="label label-primary">Address</span></td>
                  <td><%= @market.city %>, <%= @market.state%>, <%= @market.zipcode %></td>
                </tr>
                <tr>
                  <td class = "col-sm-2"><span class="label label-primary">Open time</span></td>
                  <td><%= get_day_from_timestamp(@market.open_time) %>    <%= get_time_from_timestamp(@market.open_time) %> - <%= get_time_from_timestamp(@market.open_time) %></td>
                </tr>
                <tr>
                  <td class = "col-sm-2"><span class="label label-primary">Description</span></td>
                  <td><%= @market.description %></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-4 well">
            <div id="rating">
              <h4>Average user rating</h4>
              <h2 class="bold padding-bottom-7"><%= @market.rating%> <small>/ 5</small></h2>
              <% (0..4).each do |i|%>
              <% if i >= @market.rating %>
              <button type="button" class="btn btn-default btn-sm" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
              <% else %>
              <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
              </button>
              <% end %>
              <% end %>
            </div>
            <hr>
            <div class="label label-default">
              this is for owner information
            </div>
          </div>
      </div>
    </section>

    <section>
      <div id="market_details" class="carousel slide" >
        <ul class="nav nav-pills nav-justified">
          <li data-target="#market_details" data-slide-to="0" class="active"><a href="#">Store</a></li>
          <li data-target="#market_details" data-slide-to="1"><a href="#">Review</a></li>
        </ul>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <% @stores.each do |store| %>
            <div class="col-md-4">
              <div class="thumbnail well">
                <img class="media-object" alt="Card image cap" src="http://placehold.it/350x150/20BFA9/ffffff&text=Eample">
                <div class="caption">
                  <h4 class="card-title"><%= store.name%></h4>
                  <span class="card-text"><%= store.description%></span>
                </div>
              </div>
            </div>
            <% end %>
          </div><!-- End Item -->

          <div class="item">
            <img src="http://placehold.it/1000x300/999999/cccccc">
          </div><!-- End Item -->
        </div><!-- End Carousel Inner -->
      </div>
    </section>
  </div>
</div>
