<section id = "showcase" class="row">
  <div class="col-md-12">
    <div id="Carousel" class="center carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#Carousel" data-slide-to="0" class="active"></li>
        <% (1..@market.market_images.length-1).each do |i|%>
        <li data-target="#Carousel" data-slide-to="<%= i %>"></li>
        <% end %>
      </ol>

      <!-- Wrapper for Slides -->
      <div class="carousel-inner">
        <% if @market.market_images.all.length == 0 %>
        <div class="item active">
          <div class="text-center carousel-image carousel-image-lg" style="background:url(http://placehold.it/800x200/fff/ffffff&text='')"><span class="glyphicon-lg glyphicon glyphicon glyphicon-bullhorn"></span></div>
        </div>
        <% else %>
        <div class="item active">
          <div class="text-center carousel-image carousel-image-lg" style="background:url(<%=  @market.market_images.all.first.image.url(:large) %>)"></div>

        </div>
        <% @market.market_images[1..-1].each do |market_image|%>
        <div class="item">
          <div class="text-center carousel-image carousel-image-lg" style="background:url(<%=  market_image.image.url(:large) %>)"></div>

        </div>
        <% end %>
        <% end %>
        <!-- Controls -->
        <a class="left carousel-control" href="#Carousel" data-slide="prev">
          <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#Carousel" data-slide="next">
          <span class="icon-next"></span>
        </a>
      </div>
    </div><!--slider-->
  </div>
</section>

<section class="row information">
  <div class="col-sm-12 panel panel-default">
    <div class="col-sm-4 well">
      <div id="rating">
        <h4>Average user rating</h4>
        <h2 class="bold padding-bottom-7"><%= @market.rating%> <small>/ 5</small></h2>
        <% (0..4).each do |i|%>
        <% if i >= @market.rating %>
        <button type="button" class="btn btn-default btn-sm" aria-label="Left Align">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </button>
        <% else %>
        <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
        </button>
        <% end %>
        <% end %>
      </div>
      <div class="alert alert-success"><%= link_to "Owner :" + @market.user.name, @market.user, class: "text-success" %></div>
    </div>


    <div class="col-sm-8">
      <div class="col-sm-12">
        <h2><%= @market.name %>
        </h2>
      </div>
      <input type="hidden" id="market_id" value="<%= @market.id %>">
      <div class="col-sm-12">
        <table class="table">
          <tbody>
            <tr>
              <td class = "col-sm-2 well"><strong>Address</strong></td>
              <td><%= @market.address%>, <%= @market.city %>, <%= @market.state%>, <%= @market.zipcode %></td>
            </tr>
            <tr>
              <td class = "col-sm-2 well"><strong>Open time</strong></td>
              <td><%= get_day_from_timestamp(@market.open_time) %><%= get_time_from_timestamp(@market.open_time) %> - <%= get_time_from_timestamp(@market.close_time) %></td>
            </tr>
            <tr>
              <td class = "col-sm-2 well"><strong>Description</strong></td>
              <td><%= @market.description %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <% if isMarketOwner(@market) %>
      <div class="row management-board">
        <div class="col-sm-12">
          <div class="col-sm-4"><%= link_to 'Edit Information', edit_market_path, class: "btn btn-warning btn-lg btn-space col-sm-12" %></div>
          <div class="col-sm-4"><%= link_to 'Delete', @market, method: :delete, class: "btn btn-danger  btn-lg btn-space col-sm-12", data: { confirm: t('messages.Are you sure delete this market'), ok: t('buttons.Sure'), cancel: t('buttons.cancel')}%></div>
          <% if isVendor %>
          <div class="col-sm-4"><div class="btn btn-warning btn-lg btn-space col-sm-12">Be Vendor</div></div>
          <% end %>
          <div class="">
          </div>
        </div>
        <% else %>
        <div class="row management-board">
          <div class="col-sm-12">
            <% if isVendor %>
            <div class="col-sm-12"><div id="" class="btn btn-warning btn-lg btn-space col-sm-12">Apply Join</div></div>
            <% end %>
          </div>
        </div>
        <% end %>

      </div>



    </div>
  </section>

  <section class="row">
    <div class="col-sm-12">
      <div id="market_details" class="carousel slide details" >
        <ul class="nav nav-pills nav-justified">
          <li data-target="#market_details" data-slide-to="0" class="active"><a href="#">Store</a></li>
          <li data-target="#market_details" data-slide-to="1"><a href="#">Review</a></li>
        </ul>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div id = "market_stores">
              <%= render 'shared/stores', locals: { stores: @stores } %>
            </div>
            <div id="stores_next" class="btn btn-default col-sm-12">Show More Stores</div>
            <input type="hidden" id="current_store_page" value="<%= @current_page %>">
          </div><!-- End Item -->

          <div class="item">
            <div class="row">
              <div class="col-md-12">
                <%= form_for(@review) do |f| %>

                <div class="form-group">
                  <%= f.text_area :comment, {:class => "form-control", :rows => "5", :placeholder => "Enter your review here..."}%>
                </div>
                <div class="form-group">
                  <div class="col-sm-12 well">
                    <div id="ratings" class="starrr col-sm-4 "></div>
                    <div id="ratings-notice" class="text-right">You gave a rating of <span id="count">0</span> star(s)</div>
                  </div>
                </div>

                <div class="form-group">
                  <div class="actions">
                    <%= f.submit "Submit", {:class => "btn btn-primary col-sm-12"}%></div>
                  </div>
                  <% end %>
                </div>
              </div>
              <hr>

              <div id = "market_reviews" class="text-center">
                <%= render 'shared/reviews', locals: { reviews: @reviews } %>
              </div>
              <div id="reviews_next" class="btn btn-default col-sm-12">Show More Review</div>
              <input type="hidden" id="current_review_page" value="<%= @current_page %>">
            </div><!-- End Item -->

          </div><!-- End Carousel Inner -->
        </div>
      </div>
    </section>
