<section id = "showcase" class="row">
  <div id="Carousel" class="center carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#Carousel" data-slide-to="0" class="active"></li>
      <% (1..@market.market_images.length-1).each do |i|%>
      <li data-target="#Carousel" data-slide-to="<%= i %>"></li>
      <% end %>
    </ol>

    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
      <% if @market.market_images.all.length == 0 %>
      <div class="item active">
        <div class="text-center carousel-image carousel-image-lg" style="background:url('/images/bg_default_market2.png');      background-size: 100% 100%;
        background-repeat: no-repeat;"><span class="glyphicon-lg glyphicon glyphicon glyphicon-bullhorn"></span></div>
      </div>
      <% else %>
      <div class="item active">
        <div class="text-center carousel-image carousel-image-lg" style="background:url(<%=  @market.market_images.all.first.image.url(:large) %>;      background-size: 100% 100%;
          background-repeat: no-repeat;)"></div>

        </div>
        <% @market.market_images[1..-1].each do |market_image|%>
        <div class="item">
          <div class="text-center carousel-image carousel-image-lg" style="background:url(<%=  market_image.image.url(:large) %>);      background-size: 100% 100%;
            background-repeat: no-repeat;"></div>

          </div>
          <% end %>
          <% end %>
          <!-- Controls -->
          <a class="left carousel-control" href="#Carousel" data-slide="prev">
            <span class="icon-prev"></span>
          </a>
          <a class="right carousel-control" href="#Carousel" data-slide="next">
            <span class="icon-next"></span>
          </a>
        </div>
      </div><!--slider-->
    </section>

    <section id="market_information" class="row information">
      <div id="rating-board" class="col-sm-4 well">
        <div class="rating">
          <h3>Average User Rating</h3>
          <h2 class="bold padding-bottom-7"><%= @market.rating%> <small>/ 5</small></h2>
          <% (0..4).each do |i|%>
          <% if i >= @market.rating %>
          <button type="button" class="btn btn-default btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>
          <% else %>
          <button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
          </button>
          <% end %>
          <% end %>
        </div>

        <div id = "owner" class="row alert alert-success">
          <div class="col-sm-3">
              <img class="review-photo" src="<%= gravatar_for @market.user,size: 200 %>">
          </div><!-- /col-sm-1 -->
          <div class="col-sm-9">
            <h4>Owner</h4>
            <%= link_to @market.user.name, @market.user, ownerclass: "text-success" %>
          </div>
        </div>
        <% if logged_in? %>
        <div class="management-board">
          <% if isMarketOwner(@market) %>
          <div class="management-btn"><%= link_to 'Edit Info', edit_market_path, class: "btn btn-warning btn-space col-sm-12" %></div>

          <% if isVendor %>
          <% if joined_in?(@market) %>
          <div class="management-btn"><%= link_to 'Quit Market', StoreMarketRelationship.where(:store_id => current_user.vendor.store.id, :market_id => @market.id).first, method: :delete, class: "btn btn-danger  btn-lg btn-space col-sm-12", data: { confirm: t('messages.Are you sure quit this market'), ok: t('buttons.Sure'), cancel: t('buttons.cancel')}%></div>
          <% else %>
          <div class="management-btn"><div id="sendRelationship" class="btn btn-success btn-space col-sm-12" data-toggle= "modal" data-target= "#sendMessagePanel">Join Market</div></div>
          <% end %>
          <% end %>
          <div class="management-btn"><%= link_to 'Delete', @market, method: :delete, class: "btn btn-danger btn-space col-sm-12", data: { confirm: t('messages.Are you sure delete this market'), ok: t('buttons.Sure'), cancel: t('buttons.cancel')}%></div>

          <% else %>

          <% if isVendor %>
          <% if joined_in?(@market) %>
          <div class="management-btn"><%= link_to 'Quit Market',  StoreMarketRelationship.where(:store_id => current_user.vendor.store.id, :market_id => @market.id).first, method: :delete, class: "btn btn-danger  btn-lg btn-space col-sm-12", data: { confirm: t('messages.Are you sure quit this market'), ok: t('buttons.Sure'), cancel: t('buttons.cancel')}%></div>
          <% else %>
          <div class="management-btn"><div id="sendRequest" class="btn btn-success btn-space col-sm-12" data-toggle= "modal" data-target= "#sendMessagePanel">Join Market</div></div>
          <% end %>
          <% end %>
          <% end %>
        </div>
        <% end %>
      </div>


      <div id="market-information-table-map" class="col-sm-8">
        <div class="col-sm-12">
          <h2><%= @market.name %>
          </h2>
        </div>
        <input type="hidden" id="market_id" value="<%= @market.id %>">
        <div id="market-table" class="col-sm-12">
          <table class="table">
            <tbody>
              <tr>
                <td class = "col-sm-2 well"><strong>Address</strong></td>
                <td><%= @market.address%>, <%= @market.city %>, <%= @market.state%>, <%= @market.zipcode %></td>
              </tr>
              <tr>
                <td class = "col-sm-2 well"><strong>Open time</strong></td>
                <td><%= get_day_from_timestamp(@market.open_time) %><%= get_time_from_timestamp(@market.open_time) %> - <%= get_time_from_timestamp(@market.close_time) %></td>
              </tr>
              <tr>
                <td class = "col-sm-2 well"><strong>Description</strong></td>
                <td><%= @market.description%></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="map" class="col-sm-12"></div>
        <script>

        var map;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= Geocoder.coordinates(@market.address + @market.city + @market.state)?Geocoder.coordinates(@market.address + @market.city + @market.state)[0]:0 %>, lng: <%= Geocoder.coordinates(@market.address + @market.city + @market.state)?Geocoder.coordinates(@market.address + @market.city + @market.state)[1]:0 %>},
            zoom: 15
          });

          var marker = new google.maps.Marker({
            position: {lat: <%= Geocoder.coordinates(@market.address + @market.city + @market.state)?Geocoder.coordinates(@market.address + @market.city + @market.state)[0]:0 %>, lng: <%= Geocoder.coordinates(@market.address + @market.city + @market.state)?Geocoder.coordinates(@market.address + @market.city + @market.state)[1]:0 %>},
            map: map
          });
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap"></script>
        <script>

        </script>
      </div>
    </section>

    <section class="row">
      <div id="market_details" class="carousel slide details" >
        <ul class="nav nav-pills nav-justified">
          <li data-target="#market_details" data-slide-to="0" class="active"><a href="#">Store</a></li>
          <li data-target="#market_details" data-slide-to="1"><a href="#">Review</a></li>
        </ul>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div id = "market_stores">
              <%= render 'shared/empty_messages', locals: { objects: @objects = @stores, class: @class = "stores for in this market" } %>
              <%= render 'shared/stores', locals: { stores: @stores } %>
            </div>
            <input type="hidden" id="current_store_page" value="<%= @current_page %>">

            <% if @stores.length > 0 %>
            <div id="stores_next" class="btn btn-primary col-sm-12">Show More Stores</div>
            <% else %>
            <div id="stores_next" class="btn btn-default col-sm-12">No More Stores</div>
            <% end %>
          </div><!-- End Item -->

          <div class="item">
            <% if logged_in? and !isMarketOwner(@market)%>
            <div class="row">
              <div class="col-md-12">
                <%= form_for(@review) do |f| %>

                <div class="form-group">
                  <%= f.text_area :comment, {:class => "form-control", :rows => "5", :placeholder => "Enter your review here..."}%>
                </div>
                <div class="form-group">
                  <div class="col-sm-12 well">
                    <div id="ratings" class="starrr col-sm-4 "></div>
                    <div id="ratings-notice" class="text-right">You gave a rating of <span id="count">0</span> star(s)</div>
                    <%= f.hidden_field :rating, {:value => 0}%>
                    <%= f.hidden_field :market_id, {:value => @market.id}%>
                  </div>
                </div>

                <div class="form-group">
                  <div class="actions">
                    <%= f.submit "Submit", {:class => "btn btn-success col-sm-12"}%></div>
                  </div>
                  <% end %>
                </div>
              </div>
              <hr>
              <% end %>

              <div id = "market_reviews" class="text-center">
                <%= render 'shared/empty_messages', locals: { objects: @objects = @reviews, class: @class = "reviews for in this market" } %>
                <%= render 'shared/reviews', locals: { reviews: @reviews } %>
              </div>

              <input type="hidden" id="current_review_page" value="<%= @current_page %>">
              <% if @reviews.length > 0 %>
              <div id="store_reviews_next" class="btn btn-primary col-sm-12">Show More Reviews</div>
              <% else %>
              <div id="store_reviews_next" class="btn btn-default col-sm-12">No More Reviews</div>
              <% end %>
            </div><!-- End Item -->

          </div><!-- End Carousel Inner -->
        </div>
      </section>
      <div class="modal fade" id="sendMessagePanel" tabindex="-1" role="dialog" aria-labelledby="sendMessagePanelLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div id="modal-content" class="modal-content">

          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <script>
      $(document).ready(function(){
        $("#map").css("position","fixed !important");

        $("#market_information").css("height",$("#market-information-table-map").height() + 25);

        $('#new_market_review').submit(function() {
          document.getElementById("market_review_rating").value= (document.getElementById("count").innerHTML);
          return true; // return false to cancel form action
        });


        $('#sendRelationship').click(function(){

          $.ajax({
            url: "/store_market_relationships/new",
            dataType: "html",
            type: "GET",
            data: {market_id: $("#market_id").val()},
            success: function(data, success) {
              $('#modal-content').empty()
              $('#modal-content').append(data);
            },
            error: function(data, failure) {
              alert("Something Wrong Happen, Please try it later");
            }
          });
        });

        $('#sendRequest').click(function(){

          $.ajax({
            url: "/requests/new",
            dataType: "html",
            type: "GET",
            data: {market_id: $("#market_id").val()},
            success: function(data, success) {
              $('#modal-content').empty()
              $('#modal-content').append(data);
            },
            error: function(data, failure) {
              alert("Something Wrong Happen, Please try it later");
            }
          });
        });

        $("#stores_next").on('click',function() {
          $.ajax({
            url: "/markets/"+ $("#market_id").val() +"/stores",
            dataType: "html",
            type: "GET",
            data: "current_store_page=" + $("#current_store_page").val(),
            success: function(data,status,xhr) {
              if(data == ""){
                $('#stores_next').empty()
                $('#stores_next').append("No more Stores")
                $('#stores_next').removeClass('btn-primary');
                $('#stores_next').addClass('btn-default');
                alert("No more Stores");
              }
              else {
                $('#market_stores').append(data);
                $('#current_store_page').val(parseInt($("#current_store_page").val()) + 1);
              }
            },
            error: function(request,textStatus, errorThrown) {
              alert("Something Wrong Happen, Please try it later");
            }
          });
        });

        $("#store_reviews_next").on('click',function() {
          $.ajax({
            url: "/markets/"+ $("#market_id").val() +"/reviews",
            dataType: "html",
            type: "GET",
            data: "current_review_page=" + $("#current_review_page").val(),
            success: function(data, success) {
              if(data == ""){
                $('#store_reviews_next').empty()
                $('#store_reviews_next').append("No more reviews")
                $('#store_reviews_next').removeClass('btn-primary');
                $('#store_reviews_next').addClass('btn-default');
                alert("No more reviews");
              }
              else {

                $('#market_reviews').append(data);
                $('#current_review_page').val(parseInt($("#current_review_page").val()) + 1);
              }

            },
            error: function(data, failure) {
              alert("Something Wrong Happen, Please try it later");
            }
          });
        });

        var clickEvent = false;
        $('#market_details').on('click', '.nav a', function() {
          clickEvent = true;
          $('.nav li').removeClass('active');
          $(this).parent().addClass('active');
        }).on('slid.bs.carousel', function(e) {
          if(!clickEvent) {
            var count = $('.nav').children().length -1;
            var current = $('.nav li.active');
            current.removeClass('active').next().addClass('active');
            var id = parseInt(current.data('slide-to'));
            if(count == id) {
              $('.nav li').first().addClass('active');
            }
          }
          clickEvent = false;
        });
      });

      $(function() {
        $.rails.allowAction = function(link) {
          if (!link.attr('data-confirm')) {
            return true;
          }
          $.rails.showConfirmDialog(link);
          return false;
        };
        $.rails.confirmed = function(link) {
          link.removeAttr('data-confirm');
          return link.trigger('click.rails');
        };
        return $.rails.showConfirmDialog = function(link) {
          var html, message;
          message = link.attr('data-confirm');

          html = "<div class=\"modal\" id=\"confirmationDialog\">\n  <div class=\"modal-dialog\">\n    <div class=\"modal-content\">\n      <div class=\"modal-header\">\n      <h4 class=\"modal-title\">Message<h4>\n      </div><div class = \"modal-body alert alert-danger\">\n      " + message + "</div>\n      <div class=\"modal-footer\">\n       <a data-dismiss=\"modal\" class=\"btn btn-default\">" + (link.data('cancel')) + "</a>   <a data-dismiss=\"modal\" class=\"btn btn-danger confirm\">" + (link.data('ok')) + "</a></div>\n    </div>\n  </div>\n</div>";
          $(html).modal();
          return $('#confirmationDialog .confirm').on('click', function() {
            return $.rails.confirmed(link);
          });
        };
      });

      var __slice = [].slice;
      (function($, window) {
        var Starrr;

        Starrr = (function() {
          Starrr.prototype.defaults = {
            rating: void 0,
            numStars: 5,
            change: function(e, value) {}
          };

          function Starrr($el, options) {
            var i, _, _ref,
            _this = this;

            this.options = $.extend({}, this.defaults, options);
            this.$el = $el;
            _ref = this.defaults;
            for (i in _ref) {
              _ = _ref[i];
              if (this.$el.data(i) != null) {
                this.options[i] = this.$el.data(i);
              }
            }
            this.createStars();
            this.syncRating();
            this.$el.on('mouseover.starrr', 'span', function(e) {
              return _this.syncRating(_this.$el.find('span').index(e.currentTarget) + 1);
            });
            this.$el.on('mouseout.starrr', function() {
              return _this.syncRating();
            });
            this.$el.on('click.starrr', 'span', function(e) {
              return _this.setRating(_this.$el.find('span').index(e.currentTarget) + 1);
            });
            this.$el.on('starrr:change', this.options.change);
          }

          Starrr.prototype.createStars = function() {
            var _i, _ref, _results;

            _results = [];
            for (_i = 1, _ref = this.options.numStars; 1 <= _ref ? _i <= _ref : _i >= _ref; 1 <= _ref ? _i++ : _i--) {
              _results.push(this.$el.append("<span class='gi-2x glyphicon .glyphicon-star-empty'></span>"));
            }
            return _results;
          };

          Starrr.prototype.setRating = function(rating) {
            if (this.options.rating === rating) {
              rating = void 0;
            }
            this.options.rating = rating;
            this.syncRating();
            return this.$el.trigger('starrr:change', rating);
          };

          Starrr.prototype.syncRating = function(rating) {
            var i, _i, _j, _ref;

            rating || (rating = this.options.rating);
            if (rating) {
              for (i = _i = 0, _ref = rating - 1; 0 <= _ref ? _i <= _ref : _i >= _ref; i = 0 <= _ref ? ++_i : --_i) {
                this.$el.find('span').eq(i).removeClass('glyphicon-star-empty').addClass('glyphicon-star');
              }
            }
            if (rating && rating < 5) {
              for (i = _j = rating; rating <= 4 ? _j <= 4 : _j >= 4; i = rating <= 4 ? ++_j : --_j) {
                this.$el.find('span').eq(i).removeClass('glyphicon-star').addClass('glyphicon-star-empty');
              }
            }
            if (!rating) {
              return this.$el.find('span').removeClass('glyphicon-star').addClass('glyphicon-star-empty');
            }
          };

          return Starrr;

        })();

        return $.fn.extend({
          starrr: function() {
            var args, option;

            option = arguments[0], args = 2 <= arguments.length ? __slice.call(arguments, 1) : [];
            return this.each(function() {
              var data;

              data = $(this).data('star-rating');
              if (!data) {
                $(this).data('star-rating', (data = new Starrr($(this), option)));
              }
              if (typeof option === 'string') {
                return data[option].apply(data, args);
              }
            });
          }
        });
      })(window.jQuery, window);

      $(function() {
        return $(".starrr").starrr();
      });

      $( document ).ready(function() {

        $('#ratings').on('starrr:change', function(e, value){
          $('#count').html(value);
        });

        $('#ratings-existing').on('starrr:change', function(e, value){
          $('#count-existing').html(value);
        });
      });

      </script>
