<p id="notice"><%= notice %></p>

<h1>Store Market Relationships</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @store_market_relationships.each do |store_market_relationship| %>
      <tr>
        <td><%= link_to 'Show', store_market_relationship %></td>
        <td><%= link_to 'Edit', edit_store_market_relationship_path(store_market_relationship) %></td>
        <td><%= link_to 'Destroy', store_market_relationship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Store Market Relationship', new_store_market_relationship_path %>
