<div class="row">
  <div class="col-md-5">
    <div id="productCarousel" class="center carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#productCarousel" data-slide-to="0" class="active"></li>
        <% (1..product.product_images.length-1).each do |i|%>
        <li data-target="#productCarousel" data-slide-to="<%= i %>"></li>
        <% end %>
      </ol>

      <!-- Wrapper for Slides -->
      <div class="carousel-inner">
        <% if product.product_images.all.length == 0 %>
        <div class="item active">
          <div class="text-center thumbnail-image thumbnail-image-square-sm" style="background:url(<%= product_background[product.group]%>);  background-size: 100% 100%,cover;
            background-repeat: no-repeat;
            background-position: center;"></div>
          </div>
          <% else %>
          <div class="item active">
            <div class="text-center thumbnail-image thumbnail-image-square-sm" style="background:url(<%= product.product_images.all.first.image.url(:large) %>);background-size: 100% 100%;
              background-repeat: no-repeat;"></div>
            </div>
            <% @product.product_images[1..-1].each do |product_image|%>
            <div class="item">
              <div class="text-center thumbnail-image thumbnail-image-square-sm" style="background:url(<%= product_image.image.url(:large) %>);background-size: 100% 100%;
                background-repeat: no-repeat;"></div>
              </div>
              <% end %>
              <% end %>
              <!-- Controls -->
              <a class="left carousel-control" href="#productCarousel" data-slide="prev">
                <span class="icon-prev"></span>
              </a>
              <a class="right carousel-control" href="#productCarousel" data-slide="next">
                <span class="icon-next"></span>
              </a>
            </div>
          </div><!--slider-->
          <% if product.is_special %>
          <div class="text-center thumbnail-image special-badge" style="background:url(/images/sale.png);  background-size: 100% 100%,cover;
            background-repeat: no-repeat;
            background-position: center;">
          </div>
          <% end %>
        </div>


        <div class="col-md-7">
          <div class="product_information">
          <div class="product-name"><%= product.name %></div>
          <div class="product-description"><%= product.description %></div>
          <hr>
          <h4><%= link_to "Store : " + product.store.name, product.store %></h4>
          <div class="product-discount"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
          <hr>

          <div class="row">
            <table>
              <tbody>
                <tr>
                  <td class="col-md-1">
                    <span class="glyphicon-tags glyphicon glyphicon-piggy-bank"></span>
                  </td>
                  <td class="col-md-11">
                    <span class="product-price"><%= product.price %></span>
                  </td>
                </tr>

                <tr>
                  <td class="col-md-1"><span class="glyphicon-tags glyphicon glyphicon-shopping-cart"></span></td>
                  <td class="col-md-11"><span class="label-tag label-tag-success"><%= product.group %></span></td>
                </tr>

                <% if split_tags(product.tag).length > 0 %>
                <tr>
                  <td class="col-md-1"><span class="glyphicon-tags glyphicon"></span></td>
                  <td class="col-md-11">
                    <% split_tags(product.tag).each do |tag| %>
                    <a class="label-tag" style="background: <%=tag_color[tag]%>" href="/search?&option=Products&tag=<%= tag%>"><%= tag %></a>
                    <% end %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <% if logged_in? %>
            <% if ShoppingList.where(product_id: product.id, user_id: current_user.id).all.first%>
            <button type="button" class="btn btn-default delShoppingList" value="<%= ShoppingList.where(product_id: product.id, user_id: current_user.id).all.first.id%>">Delete List</button>
            <% else %>
            <button type="button" class="btn btn-success addShoppingList" value="<%= product.id%>">Add To List</button>
            <% end %>

            <% end %>
          </div>
        </div>
      </div>
      <style>
      .product-price-active{
        color: rgba(66,120,12,0.5);

      }
      .glyphicon-active{
        color: rgba(66,120,12,0.5);
      }
      </style>
      <script>
      $(".addShoppingList").click(      function() {
        var btn = $(this);
        $.ajax({
          url: "/products/" + btn.attr('value') + "/shopping_lists",
          dataType: "json",
          type: "POST",
          success: function(data, success) {
            btn.removeClass('btn-success')
            btn.addClass('btn-default')
            btn.removeClass('addShoppingList')
            btn.addClass('delShoppingList')
            btn.empty();
            btn.append("Delete List")
            $("#checkProductPanel").modal('hide');
            alert("You have add successfully");
          },
          error: function(data, failure) {
            alert("Something Wrong Happen, Please try it later");
          }
        });
      });



      $(".delShoppingList").click(function()  {
        var btn = $(this);
        $.ajax({
          url: "/shopping_lists/" + btn.attr('value'),
          dataType: "json",
          type: "DELETE",
          success: function(data, success) {
            btn.removeClass('btn-default')
            btn.addClass('btn-success')
            btn.removeClass('delShoppingList')
            btn.addClass('addShoppingList')
            btn.empty();
            btn.append("Add To List")
            $("#checkProductPanel").modal('hide');
            alert("You have delete successfully");
          },
          error: function(data, failure) {
            alert("Something Wrong Happen, Please try it later");
          }
        });
      });
      </script>
