<% if product.is_special %>
<div class="row row-special">
  <% else %>
  <div class="row">
    <% end %>
    <div class="col-md-12">
      <div class="col-md-5">
        <div id="Carousel" class="center carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#Carousel" data-slide-to="0" class="active"></li>
            <% (1..product.product_images.length-1).each do |i|%>
            <li data-target="#Carousel" data-slide-to="<%= i %>"></li>
            <% end %>
          </ol>

          <!-- Wrapper for Slides -->
          <div class="carousel-inner">
            <% if product.product_images.all.length == 0 %>
              <div class="item active">
                <div class="text-center thumbnail-image thumbnail-image-square" style="background:url(http://placehold.it/150x150/fff/ffffff&text='');background-size: 100% 100%;
                background-repeat: no-repeat;"><span class="glyphicon-md glyphicon glyphicon glyphicon-apple"></span></div>
              </div>
            <% else %>
            <div class="item active">
                <div class="text-center thumbnail-image thumbnail-image-square" style="background:url(<%= product.product_images.all.first.image.url(:large) %>);background-size: 100% 100%;
                  background-repeat: no-repeat;"></div>
                </div>
                <% @product.product_images[1..-1].each do |product_image|%>
                <div class="item">
                  <div class="text-center thumbnail-image thumbnail-image-square" style="background:url(<%= product_image.image.url(:large) %>);background-size: 100% 100%;
                    background-repeat: no-repeat;"></div>
                  </div>
                <% end %>
              <% end %>
                <!-- Controls -->
                <a class="left carousel-control" href="#Carousel" data-slide="prev">
                  <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#Carousel" data-slide="next">
                  <span class="icon-next"></span>
                </a>
              </div>
            </div><!--slider-->
          </div>


          <div class="col-md-7">
            <div class="product-name"><%= product.name %></div>
            <div class="product-description"><%= product.description %></div>
            <div class="product-discount"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
            <hr>
            <div class="row">
              <% if product.is_special %>
              <span class="glyphicon-active glyphicon-sm glyphicon glyphicon-piggy-bank"></span>
              <span class="product-price product-price-active"><%= product.price %></span>
              <% else %>
              <span class="glyphicon-sm glyphicon glyphicon-piggy-bank"></span>
              <span class="product-price"><%= product.price %></span>
              <% end %>
            </div>
            <div class="row">
              <span class="glyphicon-sm glyphicon glyphicon-tag"></span>
              <span class="tags">
                <% split_tags(product.tag).each do |tag| %>
                <span class="tag"><a class="btn btn-tags btn-success" style="background: #<%= "%06x" % (rand * 0xffffff)%>" href="/search?&option=Products&tag=<%= tag%>"><%= tag %></a></span>
                <% end %>
              </span>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
              <% if logged_in? %>
              <% if ShoppingList.where(product_id: product.id, user_id: current_user.id).all.first%>
              <button type="button" class="btn btn-default delShoppingList" value="<%= product.id%>">Delete List</button>
              <% else %>
              <button type="button" class="btn btn-success addShoppingList" value="<%= product.id%>">Add To List</button>
              <% end %>

              <% end %>
            </div>
          </div>
        </div>
      </div>
      <style>
      .product-price-active{
        color: rgba(66,120,12,0.5);

      }
      .glyphicon-active{
        color: rgba(66,120,12,0.5);
      }
      </style>
      <script>
      $(".addShoppingList").click(function() {
        var btn = $(this);
        $.ajax({
          url: "/shopping_lists",
          dataType: "json",
          type: "POST",
          data: {product_id: btn.attr('value')},
          success: function(data, success) {
            btn.removeClass('btn-success')
            btn.addClass('btn-default')
            btn.removeClass('addShoppingList')
            btn.addClass('delShoppingList')
            $("#checkProductPanel").modal('hide');
            alert("You have add successfully");
          },
          error: function(data, failure) {
            alert("Something Wrong Happen, Please try it later");
          }
        });
      });

      $(".delShoppingList").click(function() {
        var btn = $(this);
        $.ajax({
          url: "/shopping_lists/" +  btn.attr('value'),
          dataType: "json",
          type: "DELETE",
          success: function(data, success) {
            btn.removeClass('btn-default')
            btn.addClass('btn-success')
            btn.removeClass('delShoppingList')
            btn.addClass('addShoppingList')
            $("#checkProductPanel").modal('hide');
            alert("You have delete successfully");
          },
          error: function(data, failure) {
            alert("Something Wrong Happen, Please try it later");
          }
        });
      });
      </script>
