<section>
  <%= form_for(product) do |f| %>
  <%= render 'shared/hint_messages', object: product %></br>
  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <%= f.label :name%>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-md-12">
        <%= f.label :description %>
        <%= f.text_area :description, {:class => "form-control", :rows => "5"}%>
        <%= f.hidden_field :store_id, {:value => product.store_id}%>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">

      <div class="col-md-4">
        <%= f.label :discount%>
        <%= f.select :is_special, options_for_select([["yes",0],["no",1]], :selected => "no"),{}, {class: "form-control"}%>
      </div>
      <div class="col-md-2">
        <%= f.label :price%>
        <%= f.text_field :price, {:class => "form-control", id: "price_number"}%>
      </div>
      <div class="col-md-2">
        <%= f.label :unit%>
        <%= f.select :price, options_for_select(unit_list, :selected => "lb"),{}, {class: "form-control"}%>
      </div>
      <div class="col-md-4">
        <%= f.label :tag%>
        <div class="row">
          <div class="col-md-12">
        <select class="product_tags" multiple="multiple">
          <% tag_list.each do |tag|%>
            <option value="<%= tag %>"><%= tag %></option>
          <% end %>
        </select>
      </div>
      </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
       <%= submit_tag "Submit", name: nil, class: "btn btn-success" %>
</div>
  <% end %>
</section>
