<!DOCTYPE html>
<html>
<head>
  <title>Harvest</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all','data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/shim' %>
</head>

<% if current_page?(root_url) %>
  <body class="image darken-overlay">
<% else %>
  <body class="container">
<% end %>
  <%= render 'layouts/header' %>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <%= flash_messages %>
      </div>
    </div>
  </div>
    <%= yield %>
</body>
<!-- <% if current_page?(root_url) %>
  <%= render 'layouts/market_cards' %>
<% end %> -->
</html>
